// #ibm-header-navigation{
//     display: flex;
//     margin-bottom: 2rem;
//     margin-left: 65rem;
// }

.userFirstAlphabetIcon {
  margin-top: 1.3rem;
  color: rgb(255, 255, 255);
  background-color: rgb(72, 72, 72);
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

a{
  color: whitesmoke;
}
