#homePageSearchbarContainer{
    height: 23rem;
    margin-top: 3rem;
    background: #dbdbdb;
    text-align: center;
}

#howcanwehelp{
    font-size: 4em;
    padding-top: 6rem;
    padding-bottom: 2rem;
}

#homePageSearchbar{
    margin: 1rem auto;
    width: 50rem;
}