#homePageServicesContentsContainer{
    margin: 2rem auto;
    width: 80%;
    
}

.homePageServicesContent{
    text-align: center;
    margin: 2rem;
    cursor: pointer;
}

.homePageServicesContent>p{
    font-size: 0.8rem;
    margin: 0.5rem;
}

.homeServicesIcon{
    font-size: 60px;
    height: auto;
    width: auto;
    margin-bottom: 0.9rem;
    // width: 5rem;
    // height: 5rem;
}